{% extends 'base.html' %}

{% block content %} 
<div id="home" class="container-fluid" style="width:100%">
  <div class="col-lg-5 col-12 mx-auto bg-white p-3 rounded-3" >
    <div class="text-center">
        <h2>Sign In</h2>
        <h4>Registration</h4>
        <p style="color:brown;">{{error}}</p>
        <img src="/static/Horizon Travel.jpg" class="rounded-circle" alt="Horizon Travel Logo" style="width:200px">
        <form action="/Signin" method="post" class="needs-validation" novalidate>
        
          <label for="validationCustom01" class="form-label">Username:</label>
          <input type="text" name="username" value="{{request.form.username}}" class="form-control" id="validationCustom01" placeholder="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
       
       
          <label for="validationCustom02" class="form-label">Phone Number:</label>
          <input type="text" name="tel" class="form-control" id="validationCustom02" placeholder="012345678" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        
       
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="email" name="email" value="{{request.form.email}}" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>

          <label for="pwd" class="form-label">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" value="{{request.form.password}}">

        
          <label for="validationCustom04" class="form-label">Gender</label>
          <select name="gender" class="form-select" id="validationCustom04" required>
            <option selected disabled value="">Choose...</option>
            <option>male</option>
            <option>female</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        
        
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock content %} 
